<html>
    <head>
        <title>
            Home
        </title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"><link rel="stylesheet" href="classless.css" />
        <link rel="stylesheet" href="https://classless.de/classless.css">
    </head>
    <body>
        <div>
            <nav>
                <ul>
                  <li>Customer Management App</li>
                  <li><a href="/customer">Manage Customers</a></li>
                  <li><a href="/genpdf">Generate PDF</a></li>
                  <li class="float-right"><a href="/logout">Logout</a></li>
                </ul>
              </nav>
        </div>
        <div>
            <h3>Welcome Home!</h3>
        </div>
    </body>
</html>